# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/
*_build.log
*_build_utf8.log

# Virtual environments
.venv/
venv/
env/

# IDE
.vscode/settings.json
.idea/

# OS
Thumbs.db
.DS_Store
